* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #FFFFFF;
}

.stroke {
    color: #000000;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.vertical {
    flex-direction: column
}

.horizontal {
    flex-direction: row
}

.thirtyfive {
    min-height: 35vh;
}

.textLeft {
    text-align: start;
    align-items: flex-start;
    align-content: flex-start;
}

.textRight {
    text-align: end;
    align-items: flex-end;
    align-content: flex-end;
}

body {
    width: 100vw;
}

header {
    height: 75vh;
    background-image: url('img/header.jpg');
    background-size: cover;
    background-position: center;
}

header #title {    
    font-family: 'Monoton', cursive;
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 4rem;
    
    color: #BADA55;
}

header #subtitle {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

section {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

section h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 2.5em;
    padding: 2em;

    color: #000000;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: #FFFFFF;
}

section h2 {
    font-size: 1.5em;
    font-weight: 900;
}

ul {
    padding: 1.5em;
    margin: 1em;
    list-style: none;
    background: #00000066;
}

li {
    max-width: 35rem;
}

li p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section#musiclovers {
    background-image: url('img/musiclovers.jpg');
    background-size: cover;
    background-position: center;
}


section#artists {
    flex-wrap: wrap-reverse;
    background-image: url('img/artists.jpg');
    background-size: cover;
    background-position: center;
}

section#intake {
    padding: 0.5rem;
    background-image: url('img/intake.jpg');
    background-size: cover;
    background-position: center;
}

section#intake h1 {
 padding-bottom: 1em;
}

section#intake h2 {
    padding: 1em;
}

section#intake div#form {
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
    background-color: #FFFFFF55;
}

p#copyright {
    padding-top: 4rem;
}